@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: upper-roman;
  /* <ol start="3" reversed>*/
}

ul {
  color: blue;
  /*list-style: square url("../images/checkmark.png");*/
  list-style-position: inside;
}

ul li:nth-child(even) {
  color: red;
}

/* Pseudo-element */
ul ::marker {
  color: purple;
  font-family: fantasy;
  content: "Only $5 >>"
}